# Ignore Maven build output
/target/

# Ignore IntelliJ IDEA project files
.idea/
*.iml

# Ignore Eclipse project files
.classpath
.project
.settings/

# Ignore NetBeans project files
.nb-gradle/
nbproject/

# Ignore build tool configuration files
*.log

# Ignore local Maven repository (if exists)
.mvn/

# Ignore JDK-related files
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.tar

# Ignore Maven wrapper files (if you're not using them)
mvnw
mvnw.cmd
